// SCSS Variables
$background-color: #121212;
$primary-color: #bb86fc;
$secondary-color: #03dac6;
$text-color: #e0e0e0;
$muted-text-color: #757575;
$navbar-color: #1f1f1f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-family: 'Inter', sans-serif;
  background-color: $navbar-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-left {
    display: flex;
    flex-direction: row;

  a {
    color: $text-color;
    text-decoration: none;
    margin-right: 20px;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: $primary-color;
      cursor: pointer;
    }
  }
}

.navbar-right {
  display: flex;
  gap: 15px;
  align-items: center;

  a {
    color: $text-color;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {

        cursor: pointer;
    }
  }

  .login {
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background-color: rgba(187, 134, 252, 0.1);
    }
  }

  .register {
    background-color: $primary-color;
    color: $background-color;

    &:hover {
      background-color: $secondary-color;
    }
  }

  button {
    background-color: transparent;
    color: $text-color;
    border: 1px solid #{$secondary-color};
    border-radius: 20px;
    padding: 8px 15px;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
      background-color: rgba(3, 218, 198, 0.1);
      cursor: pointer;
      color: $secondary-color;
    }
  }

  a {
    &[routerLink="/admin"],
    &[routerLink="/profile"] {
      color: $primary-color;
      border: 1px solid $primary-color;
      padding: 8px 15px;
      border-radius: 20px;
      text-decoration: none;
      font-weight: 500;
      transition: all 0.3s ease;

      &:hover {
        background-color: rgba(187, 134, 252, 0.1);
        cursor: pointer;
      }
    }
  }

  span {
    color: $muted-text-color;
    font-weight: 400;
    margin-right: 10px;
    font-size: 0.9rem;
  }
}
