<nav class="navbar">
    <div class="navbar-left">
        <a (click)="navigateTo('')" class="nav-link">Головна</a>
        <a routerLink="/courses" class="nav-link">Курси</a>
        <a routerLink="/tasks" class="nav-link">Завдання</a>
        <a routerLink="/profile" class="nav-link">Профіль</a>
    </div>
    <div class="navbar-right">
        <ng-container *ngIf="authService.isAuthenticated(); else guestLinks">
            <span>Вітаю, {{ authService.currentUserValue?.email }}</span>
            <button (click)="logout()">Вийти</button>
            <a *ngIf="authService.hasRole('Administrator')" class="login" routerLink="/admin">Адмін-панель</a>
            <a *ngIf="authService.hasRole('Student')" routerLink="/student">Мій кабінет</a>
        </ng-container>
        <ng-template #guestLinks>
            <a routerLink="/login" class="login">Увійти</a>
            <a routerLink="/register" class="register">Реєстрація</a>
        </ng-template>
    </div>
</nav>
