:root {
    --background-color: #121212;
    --primary-color: #bb86fc;
    --secondary-color: #03dac6;
    --text-color: #e0e0e0;
    --muted-text-color: #757575;
    --navbar-color: #1f1f1f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}